---
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
    - id: check-yaml
- repo: https://github.com/psf/black
  rev: 21.9b0
  hooks:
    - id: black
- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
    - id: flake8
- repo: https://github.com/PyCQA/isort
  rev: 5.9.3
  hooks:
    - id: isort
